:root {
    --header-height: 75px;
    --header-menu-width: 500px;
    --min-menu-width: 400px;
    --main-container-margin: 1.5rem;
    --footer-height: 50px;
}
/* -- GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

#notifications-container,
.message-container{
    background-color: white;
}
#header-msg-menu,
div.chat-main,
footer.chat-footer{
    min-width: var(--min-menu-width);
}
.align-self-start {
    align-self: flex-start;
    padding-top: 0.5rem;
}
.flex-column {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}
.underline-grey {
    color: #557f92;
    text-decoration: underline solid #557f92;
    font-size: 0.9rem;
}
.grey-color {
    font-size: 0.85rem;
    color:#c0c3c5;
}
.underline-grey:hover {
    cursor: pointer;
}
span.name {
    font-size: 1.2rem;
}
img {
    border-radius: 50%;
}
#notifications-container.clicked {
    background-color: #8edafc;
}
#notifications-container.clicked i {
    color: #8edafc;
}
.message-container {
    display: flex;
    min-height: 85px;
}
.message-container.clicked {
    background-color: #e9ebeb;
}
.message-container .flex-column {
    max-width: 215px;
    margin-right: auto;
    /* padding-right: 2rem; */
}
.message-container .flex-column span.grey-color {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.msg-date {
    margin-right: 0.35rem;
    font-size: 0.8rem;
    color: #c0c3c5;
    align-content: flex-end;
}
/* --CONTAINER */
body {
    background: linear-gradient(0.5turn, #009688 25%,#dbdbd2 10%);
}
#app {
    position: relative;
    width: 80%;
    min-width: calc(var(--header-menu-width) + var(--min-menu-width));;
    margin: var(--main-container-margin) auto;
}
/* [class ^= 'container-bg-'] {
    z-index: -1;
    position: absolute;
    left: 0;
    width: 100vw;
    min-width: calc(var(--header-menu-width) + var(--min-menu-width));;
}
.container-bg-top {
    top: 0;
    height: 20vh;
    background-color: #009687;
}
.container-bg-bottom {
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
    /* width: 100vw; */
    /* height: 80vh; */
    /* background-color: #dbdbd2; */
/* }  */
/* --FINE CONTAINER */

/* --HEADER */
header.header {
    position: sticky;
    display: flex;
    min-width: calc(var(--header-menu-width) + var(--min-menu-width));
    height: var(--header-height);
    background-color: #eaeaea;
}
header.header > * {
    max-height: 100%;
}
img.header-avatar {
    height: var(--header-height);
    padding: 0.6rem;
    display: flex;
    align-items: center; /* gestione alt */
}
/* --1: header-menu */
#header-menu {
    display: flex;
    justify-content: space-between;
    min-width: var(--header-menu-width);
}
.user-info {
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    padding-left: 0.35rem;
}
.header-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
}
.header-icon > i {
    justify-self: flex-end;
    color: #b1b1b1;
    cursor: pointer;
}
/* --2: header-msg-menu */
#header-msg-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80px;
    border-left: 2px solid darkgrey;
}
.last-access-date {
    color: #6b7376;
    font-size: 0.9rem;
}
.friend-info {
    display: flex;
    align-items: center;
    gap: 0.35rem;
}
/* --FINE HEADER */

/* --MAIN */
main.main {
    display: flex;
}
/* --1: msg-list-container */
#msg-list-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    min-width: var(--header-menu-width);
    background-color: #fafafa;
    height: calc(100vh - var(--header-height) - var(--main-container-margin)*2);
    min-height: 350px;
    gap: 0.5rem;
}
#notifications-container {
    padding: 1rem;
    gap: 0.5rem;
    display: flex;
    align-items: center;
}
#notifications-container > i {
    background-color: white;
    border-radius: 50%;
    padding: 1rem;
    font-size: 1.2rem;
}
#input-search {
    position: relative;
    margin: 0.15rem;
}
#input-search > input {
    font-size: 0.95rem;
    width: calc(100% - 0.25rem);
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 4rem;
} 
#input-search > i {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    color: #b6b9bb;
    transform: translateY(-50%);
    font-size: 1rem;
}
.message-container {
    gap: 0.5rem;
    display: flex;
    align-items: center;
}
.message-container img {
    max-height: 85px;
    padding: 0.7rem;
    padding-left: 1rem;
}
.message-container > .flex-column {
    align-self: flex-start;
    padding-top: 0.7rem;
}
/* --2: chat-container */
#chat-container {
    display: flex;
    height: calc(100vh - var(--header-height) - var(--main-container-margin)*2);
    width: calc(100% - var(--header-menu-width));
    background-color: yellowgreen;
    flex-wrap: wrap;
    min-height: 350px;
}
div.chat-main {
    background-image: url('../img/mine.jpg');
    display: flex;
    height: calc(100% - var(--footer-height));
    flex-direction: column;
    padding: 2rem;
    overflow-x: hidden;
    flex-basis: 100%;
    overflow-y: auto;
}
.msg {
    margin-right: auto;
    display: flex;
    position: relative;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 0.7rem;
    width: 50%;
}
.msg-date-chat {
    position: absolute;
    bottom: 0;
    right: 0.6rem;
    font-size: 0.8rem;
    line-height: 1rem;
    color:#c0c3c5;
    text-align: right;
    height: 1rem;
    width: 100%;
}
.msg.received {
    align-self: flex-start;
    background-color: white;
}
.msg.sent {
    align-self: flex-end;
    background-color: #d5f9ba;
}
footer.chat-footer {
    background-color: #f3eeea;
    height: var(--footer-height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2.5rem;
    gap: 2.5rem;
    align-self: flex-end;
}
.chat-footer > i {
    font-size: 1.3rem;
    color: #6b7376;
}
.chat-footer > input {
    border: 0;
    border-radius: 0.4rem;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
}
/* --FINE MAIN */