<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolzapp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap" rel="stylesheet">
    <!-- libreria js per la gestione delle date -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script>dayjs().format()</script>
    <!-- fontawesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- mine css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- vuejs CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- HEADER: INFO UNTENTI CONNESSO, CONTATTO SELEZIONATO-->
        <header class="header">
            <!-- INFORMAZIONI UTENTE COLLEGATO -->
            <div id= 'header-menu'>
                <div class="user-info">
                    <!-- AVATAR -->
                    <img :src="`IMG/avatar${user.avatar}.jpg`" class="header-avatar" :alt="name_initials(user.name)">
                    <!-- NOME -->
                    <span class='name'>{{user.name}}</span>
                </div>
                <!-- ICONE -->
                <div class="header-icon">
                    <i v-for= 'icon in header.headerMenuIcons' :class='`${icon.family} ${icon.prefix}${icon.name}`'></i>
                </div>
            </div>
            <!-- /INFORMAZIONI UTENTE COLLEGATO -->
            <!-- INFORMAZIONI UTENTE,SELEZIONATO DALLA LISTA CONTATTI, CON CUI IL COLLEGATO VUOLE CHATTARE -->
            <div id="header-msg-menu">
                <div class="friend-info"  v-if="contacts.visible.length > 0">
                    <!-- AVATAR -->
                    <img :src="`IMG/avatar${contacts.visible[clicked].avatar}.jpg`" class="header-avatar" :alt="name_initials(contacts.visible[clicked].name)">
                    <!-- NOME,ULTIMO ACCESSO -->
                    <div class="flex-column">
                        <span class="name">{{contacts.visible[clicked].name}}</span>
                        <span v-if = 'contacts.visible[clicked].status == 0' class="last-access-date">Ultimo accesso {{contacts.visible[clicked].last_access[0]}}</span>
                        <span v-else class="last-access-date">{{contacts.visible[clicked].last_access[contacts.visible[clicked].status]}}</span>
                    </div>
                </div>
                <!-- ICONE -->
                <div class="header-icon">
                    <i v-for='(icon,index) in header.headerMsgMenuIcons' :class='`${icon.family} ${icon.prefix}${icon.name}`'
                        @click = 'checkIcon(index)'></i>
                    <!-- MENU A COMPARSA AL CLICK SU ICONA -->
                    <div v-if='header.iconMenuOpen' class="hidden-menu">
                        <ul class="hidden-ul">
                            <li class="hidden-li">
                                <span @click = 'clearChat'>Clear chat</span>
                            </li>
                            <li class="hidden-li">
                                <span @click = 'deleteChat'>Delete chat</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /INFORMAZIONI UTENTE SELEZIONATO DALLA LISTA CONTATTI -->
        </header>
        <!-- /HEADER-->
        <main class="main">
            <!-- NOTIFICHE, RICERCA CHAT, ELENCO CONTATTI SELEZIONABILI-->
            <div id="msg-list-container" >
                <!-- NOTIFICHE -->
                <div id="notifications-container" :class="{clicked: main.notificationsContainer.clicked}" @click = 'notificationsStatusChange'>
                    <i :class='`${main.notificationsContainer.icon.family} ${main.notificationsContainer.icon.prefix}${main.notificationsContainer.icon.name}`'></i>
                    <div class="flex-column">
                        <span>{{main.notificationsContainer.text}}</span>
                        <span class= 'notifications-add-text'>{{main.notificationsContainer.activeText}}</span>
                    </div>
                </div>
                <!-- CERCA UNA CONTATTO -->
                <div id="input-search">
                    <input :type="main.input.type" :placeholder="main.input.placeholder" v-model='main.input.value' @keyup.enter="searchContact">
                    <i :class="`${main.input.icon.family} ${main.input.icon.prefix}${main.input.icon.name}`" @click="searchContact"></i>
                </div>
                <!-- ELENCO CONTATTI -->
                <ul id="all-message">
                    <!-- mostreremo solo quelle contenente il v-model della input -->
                    <li v-for = '(contact,index) in contacts.visible'
                    @click = 'hideMenu(),closeIconMenu()'>
                            <!-- visualizza solo se contact.visible risulta true (ricercando parola diversa da nome: visible passa a false) -->
                        <div class="message-container" :class= '{clicked: (index == clicked)}'
                        @click = 'changeClicked(index)' @change="visible(index)"
                        >
                            <img :src="`img/avatar${contact.avatar}.jpg`" :alt="name_initials(contact.name)">
                            <div class="flex-column">
                                <span class="name">{{contact.name}}</span>
                                <span class='last-msg-txt'>
                                    {{findLastMessage(index)}}
                                </span>
                            </div>
                            <span class="last-msg-date">
                                <!-- {{contact.messages[contact.messages.length-1].date}} -->
                                {{findLastDate(index)}}
                            </span>
                        </div>
                        <!-- </div> -->
                    </li>
                </ul>
            </div>
            <!-- CHAT CON CONTATTO SELEZIONATO -->
            <div id="chat-container">
                <div class="chat-main" v-if="contacts.visible.length > 0">
                    <!-- ELENCO MESSAGGI -->
                    <div v-for = '(msg,index) in contacts.visible[clicked].messages' class='msg '  :class = 'msg.status'
                    @click = 'showMenu(index)' v-if = 'msg.saved'>
                        <div v-if='msg.clicked ' class="hidden-menu">
                            <ul class="hidden-ul">
                                <li class="hidden-li">
                                    <span>Message info</span>
                                </li>
                                <li class="hidden-li" @click = 'deleteMessage(index)'>
                                    <span>Delete message</span>
                                </li>
                            </ul>
                        </div>
                    <span>{{msg.text}}</span>
                    <span class="msg-date-chat">{{msg.date}}</span>
                    </div>
                </div>
                
                <!-- <div class="h-100" v-if="contacts.visible.length==0"> -->
                <div class="h-100" v-else>
                    
                </div>

                <!-- invio messaggi a utente selezionato -->
                <footer class="chat-footer">
                    <i :class="`${main.footer.icons[0].family} ${main.footer.icons[0].prefix}${main.footer.icons[0].name}`"></i>
                    <input :type="main.footer.input.type" :placeholder="main.footer.input.placeholder" v-model = 'main.footer.input.value'
                    @keyup.enter= 'sendMessage(),receivedTimed()'>
                    <i v-if='(main.footer.input.value.trim().length == 0)' :class="`${main.footer.icons[1].family} ${main.footer.icons[1].prefix}${main.footer.icons[1].name}`"></i>
                    <i v-else :class="`${main.footer.icons[2].family} ${main.footer.icons[2].prefix}${main.footer.icons[2].name}`" @click = 'sendMessage(),receivedTimed()'></i>
                </footer>
           </div> 
            <!-- /CHAT CON CONTATTO SELEZIONATO -->
        </main>
    </div>
    <!-- mine js -->
    <script src="js/script.js"></script>
</body>
</html>